@charset "utf-8";
* { margin:0; padding:0; }
body { font-family:"맑은 고딕"; font-size:13px; color:#242728; }
img {vertical-align:middle; }
li { list-style:none; }
a { text-decoration:none; color:#000; font-weight:bold; font-size:15px; }

.on { position: fixed; left:0; top:0; width:100%; background:rgba(88, 50, 32, 0.6); } /*제이쿼리적용*/
#header { height:80px; }
#menu { width:1170px; margin: 0 auto; }
#menu h6 {float:left; width:200px; padding-top:20px; }
#menu ul {float:right; width:400px; padding-top:30px; }
#menu li { float:left; width:100px; text-align:center; padding-bottom:8px; }
#menu li:hover { border-bottom:3px solid #f37339; }

.bar { width:40px; height:4px; background:#FFF; margin:20px auto; }

#main { clear:both; height:800px; background:url(../images/bg_index.jpg) center bottom; padding-top:200px; text-align:center; color:#FFF;  }
#main h1 { font-size:48px; }
#main h3 { margin-top:60px; font-size:24px;  }

#philosophy, #history, #more {padding:160px 0; text-align:center; }
#philosophy { height:550px; background:#f37339; color:#fff; }
.contents { width:1170px; margin:100px auto 0; line-height:160%; }
.contents div { float:left; width:340px; margin:0 20px; }
.title { font-size:26px; font-weight:500; }
.title_sub { font-size:16px; font-weight:bold; line-height:40px; }

#history h1 { color:#f37339; }
#history .bar { background:#f37339; }

#more { height:550px; background:#f37339; color:#fff; }
#more img { height:420px; }
.left { float:left; width:45%; text-align:right; }
.right {  float:right; width:45%; text-align:left; padding-top:100px; }

#footer { clear:both; line-height:60px; background:#242728; color:#fff; text-align:center; }